@charset "UTF-8";
/*--------------------------------------------------------------
common
--------------------------------------------------------------*/

li {
    list-style: none;
}

img {
    width: 100%;
}

:root {
    /*=============== color =================*/
    --white: #fff;
    --grey: #848484;
    --dark-grey: #3C3C3C;
    --light-grey: #BDBDBD;
    /*=============== width =================*/
    --content-width: 94.01%;
    /*=============== padding =================*/
    --section-ttl-pt: 1.82%;
}

/*=============== font =================*/
html {
    font-size: 62.5%;
    /*1em = 10px */
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
#header {
    position: absolute;
    top: 1.71%;
    left: 2.28%;
}

.menu {
    color: var(--white);
}

/*--------------------------------------------------------------
main
--------------------------------------------------------------*/
.main-view {
    background: url(../img/img_mv_pc.jpg) center/cover no-repeat;
    /* padding-top: 67.62%; */
    height: 100vh;
    width: 100%;
    position: relative;
}

.ttl-wrap {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
}
/* もし、main-viewの高さがウィンドウの高さより高ければ ttl-wrapを使う
低ければmain-viewを使う */
.main-view {
       position: relative;
    width: 100%;
    background: url(../img/img_mv_pc.jpg) center/cover no-repeat;
    padding-top: 67.62%;
}

.ttl-wrap {
    position: relative; /* まず絶対はやめる */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ttl {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: var(--white);
    font-size: clamp(3em, 2.85vw, 10em);
    font-weight: normal;
    letter-spacing: .75em;
}

.ttl-bg {
    padding-top: 45.08%;
    position: absolute;
    left: 50%;
    bottom: -1.85%;
    /* bottom: -26px; */
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 46.01%, rgba(255, 255, 255, 0.5) 62.47%, #FFFFFF 91.54%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%, -50%);
}

.ttl-txt {
    width: 50.78%;
    margin: 0 auto;
    border-bottom: 1px solid;
    padding-bottom: .4em;
    letter-spacing: .3em;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.content-wrap {
    margin: 0 auto;
    margin-top: -8.06%;
    width: 100%;
    z-index: 99;
    position: relative;
}

.content-wrap::before {
    display: block;
    content: "";
    width: 95.51%;
    height: 1px;
    margin: 0 auto;
    background-color: #9A9A9A;
}

.section-ttl {
    padding-top: var(--section-ttl-pt);
}

/*=============== works =================*/
.works {
    width: var(--content-width);
    margin: 0 auto;
}

#works {
    color: #848484;
    padding-top: 1.82%;
    font-size: 1.6em;
    font-family: "Inria Serif", serif;
    font-style: italic;
}

.work-content-wrap {
    margin-top: 7.42%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-content {
    width: 20.64%;
    margin-right: 5.61%;
}

.work-content:nth-of-type(4n) {
    margin-right: 0;
}

.work-img-wrap {
    position: relative;
}

.work-img {
    position: absolute;
    top: 0;
}

/* --- work-content --- */
.work-content:nth-of-type(1) .work-img-wrap {
    padding-top: 130.51%;
    border-radius: 63px;
}

.work-content:nth-of-type(2) .work-img-wrap {
    padding-top: 197.79%;
    border-radius: 45px 64px 16px 45px;
}

.work-content:nth-of-type(3) .work-img-wrap {
    padding-top: 212.5%;
    border-radius: 57px;
}

.work-content:nth-of-type(4) .work-img-wrap {
    padding-top: 134.56%;
    border-radius: 69px 49px 20px 49px;
}

.work-content:nth-of-type(5) {
    margin-top: -10.93%;
}

.work-content:nth-of-type(5) .work-img-wrap {
    padding-top: 130.51%;
    border-radius: 51px;
}

.work-content:nth-of-type(6) {
    margin-top: 3.64%;
}

.work-content:nth-of-type(6) .work-img-wrap {
    padding-top: 220.59%;
    border-radius: 51px 31px 18px 18px;
}

.work-content:nth-of-type(7) {
    margin-top: 6.07%;
}

.work-content:nth-of-type(7) .work-img-wrap {
    padding-top: 202.57%;
    border-radius: 51px 22px 18px 18px;
}

.work-content:nth-of-type(8) {
    margin-top: -10.32%;
}

.work-content:nth-of-type(8) .work-img-wrap {
    padding-top: 308.82%;
    border-radius: 10px 22px 22px 67px;
}

.work-content:nth-of-type(9) {
    margin-top: -33.69%;
}

.work-content:nth-of-type(9) .work-img-wrap {
    padding-top: 141.18%;
    border-radius: 31px 47px 7px 38px;
}

.work-txt-wrap {
    margin-top: 5.88%;
}

.work-num,
.work-category {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: var(--dark-grey);
}

.work-num {
    font-size: .9rem;
    font-size: clamp(.9em, .64vw, 2.8em);
}

.work-category {
    margin-top: 4.41%;
    font-size: clamp(1rem, 0.71vw, 3rem);
}

.work-ttl {
    margin-top: 7.35%;
    font-family: "IM Fell Great Primer SC", serif;
    font-size: clamp(1.4em, 1vw, 4em);
}

/*=============== news =================*/
.news {
    margin: 7.42% auto 0;
    width: var(--content-width);
}

.section-ttl02 {
    text-align: center;
    font-size: clamp(1.9em,1.36vw,3.2em);
    font-weight: 400;
    color: var(--dark-grey);
}

.section-ttl02::after {
    background-color: #D9D9D9;
    margin: 0 auto;
    margin-top: 0.91%;
    height: 1px;
    content: "";
    display: block;
    width: 7.89%;
}

.news-content-wrap {
    margin-top: 3.26%;
    display: flex;
    justify-content: space-between;
}

.news-content {
    width: 27.92%;
}

.news-img-wrap {
    width: 100%;
    padding-top: 63.04%;
    border-radius: 31px 47px 7px 38px;
    position: relative;
}

.news-img {
    position: absolute;
    top: 0;
    left: 0;
}

.news-date {
    font-size: clamp(.9em, .64vw, 2.8em);
    letter-spacing: .03em;
    margin: 3.26% 0 2.17%;
}

.news-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-ttl {
    font-size: clamp(1.4em, 1vw, 4em);
    width: 76.09%;
    letter-spacing: .03em;
}

.news-ttl::after {
    background-color: #D9D9D9;
    content: "";
    height: 1px;
    display: block;
    margin-top: 2.86%;
}

.news-arrow {
    display: block;
    content: "";
    width: 2.4em;
    height: 2.4em;
}

.news-archive {
    text-align: center;
    margin-top: 3.26%;
}

.news-archive-link {
    color: var(--dark-grey);
    font-size: 1.4em;
    letter-spacing: .07em;
}

.news-archive-arrow {
    width: 1.82%;
    display: block;
    margin: 0.46% auto 0;
}

/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.footer-menu {
    display: flex;
    width: 24.11%;
    margin: 6.85% auto 1.71%;
    justify-content: space-between;
}

.footer-content-link {
    font-size: 1.5em;
    color: var(--dark-grey);
    letter-spacing: .03rem;
    text-decoration: none;
}

.footer-line {
    background-color: #D9D9D9;
    width: 1px;
    padding-top: 5.47%;
}