@charset "UTF-8";
/*--------------------------------------------------------------
common
--------------------------------------------------------------*/

:root {
    /*=============== color =================*/
    --white: #fff;
    --grey: #848484;
    --dark-grey: #3C3C3C;
    --light-grey: #BDBDBD;
    /*=============== width =================*/
    --width: 94.01%;
}

/*=============== font =================*/
html {
    font-size: 62.5%;
    /*1rem = 10px */
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
#header {
    position: absolute;
    top: 1.71%;
    left: 2.28%;
}

.menu {
    color: var(--white);
}

/*--------------------------------------------------------------
main
--------------------------------------------------------------*/
.main-view {
    background-color: rgb(165, 165, 165);
    position: relative;
    width: 100%;
    height: 100vh;
}

#ttl {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 43.78%;
    color: var(--white);
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: .75rem;
}

.works {
    background-color: green;
    width: 100%;
    height: 100px;
}

#works {
    font-size: 1.6rem;
    color: var(--light-grey);
}

.work-content-wrap {
    margin-top: 7.42%;
}