@charset "UTF-8";
/*--------------------------------------------------------------
common
--------------------------------------------------------------*/

li{
    list-style: none;
}

:root {
    /*=============== color =================*/
    --white: #fff;
    --grey: #848484;
    --dark-grey: #3C3C3C;
    --light-grey: #BDBDBD;
    /*=============== width =================*/
    --content-width: 94.01%;
    /*=============== padding =================*/
    --section-ttl-pt: 1.82%;
}

/*=============== font =================*/
html {
    font-size: 62.5%;
    /*1rem = 10px */
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
#header {
    position: absolute;
    top: 1.71%;
    left: 2.28%;
}

.menu {
    color: var(--white);
}

/*--------------------------------------------------------------
main
--------------------------------------------------------------*/
.main-view {
    background-color: rgb(165, 165, 165);
    position: relative;
    width: 100%;
    height: 100vh;
}

#ttl {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 43.78%;
    color: var(--white);
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: .75rem;
}

.content-wrap {
    width: var(--content-width);
    margin: 0 auto;
}

.section-ttl {
    padding-top: var(--section-ttl-pt);
}

/*=============== works =================*/
.works {
    background-color: green;
    width: 100%;
}

#works {
    font-size: 1.6rem;
    color: var(--light-grey);
}

.work-content-wrap {
    margin-top: 7.42%;
    display: flex;
}

.work-content {
    width: 20.64%;
    margin-right: 5.61%;
}
.work-content:nth-of-type(4n){
    margin-right: 0;
}
.work-img-wrap {
    background-color: #848484;
}
 /* --- work-content --- */
.work-content:nth-of-type(1) .work-img-wrap{
    padding-top: 130.51%;

}
.work-content:nth-of-type(2) .work-img-wrap {
    padding-top: 197.79%;
}

.work-content:nth-of-type(3) .work-img-wrap {
    padding-top: 212.5%;
}
.work-content:nth-of-type(4) .work-img-wrap {
    padding-top: 134.56%;
}
.work-txt-wrap {
    margin-top: 5.88%;
}